*{
    margin: 0;
    padding: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #F5F8FF
}

/* Shared CSS */
.navbar,
.nav-menu-bar, 
.nav-menu,
.cart,
.hero_section{
    display: flex;
}

.navbar,
.hero_section,
.product_section{
    margin: 30px 150px;
}

.navbar,
.hero_section,
.product_section,
.flower_plants_section,
.latest-deals_section,
.footer-section{
    max-width: 1140px;
}
/* Colors */
.orange-color{
    color: #E95A08;
} 
.gray-color{
    color: #8987A1;
}

/* Nav Bar */
.navbar{
    width: 90vw;
    justify-self: center;  
}
.navbar, .cart{
    justify-content: space-between;
    align-items: center;
}
.nav-menu-bar,
.nav-menu{
    justify-content: space-between;
    column-gap: 30px;
}

.nav-menu, .cart{
    list-style: none;
}

.cart{
    column-gap: 10px;
}

.home{
    font-weight: 700;
}

/* Hero Section */
.hero_section{
    align-items: end;
    width: 90vw;
    justify-self: center;
    margin-top: 120px;
}

.fresh_flower{
    font-size: 4rem;
}
.fresh_flower_description{
    font-size: 1.4rem;
    color: #8987A1;
    font-weight: normal;
}
.hero-flower{
    position: relative;
    bottom: -4px;
    width: 100%;
}
.hero_left{
    width: 100%;
}
.hero_right{
    width: 100%;
}

/* Product Section */
.product_section{
    align-items: end;
    width: 90vw;
    justify-self: center;
    margin-left: 0;
    margin-right: 0;
}
.product_section_content, .product_details{
    text-align: center;
}
.our_plants{
    font-size: 3.125rem;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 16px;
}
.our_plants_description{
    font-size: 1.37rem;
    font-weight: 400;
    margin-bottom: 50px;
}
.product_details_title{
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}
.product_details_price{
    font-size: 1.37rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.add-to-cart{
    font-size: 1rem;
    font-weight: 600;
    padding: 19px 60px;
    background-color: #E95A08;
    color: white;
    border: none;
    width: 100%;
}
.all_products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;

}
.product_img{
    width: 100%;
}


/* Flower & Plants Lover Section */
.flower_plants_section{
    display: flex;
    width: 90vw;
    justify-self: center;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 0;
    margin-right: 0;
    column-gap: 80px;
    
}

.flower_planks_title{
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.flower_planks_description{
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.flower-store{
    width: 100%;
}
.flower_plants_section_right{
    width: 60%;
}
.flower-store{
    width: 100%;
    max-width: 440px;
    max-height: 500px;
    position: relative;
    top: -90px;
    z-index: 1;
}
 .trusted-badge{
    width: 200px;
    position: relative;
    top: 0px;
    left: 320px;
    z-index: 3;
    
 }
 /* Trusted Sticker Animation */
 @-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.trusted-badge {
    -webkit-animation: rotating 3s linear infinite;
}


/* Latest Deals Section */
.latest-deals_section{
    display: block;
    width: 90vw;
    justify-self: center;
    align-items: center;
    margin-bottom: 30px;
}
.latest-deals_text{
    text-align: center;
}
.latest_deals_black{
    font-size: 3.125rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.latest_deals_black_description{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 100px;
}
.three-box{
    display: flex;
    gap: 30px;
}
.plant_shop{
    font-size: 2rem;
}
.plant_shop_button{
    font-size: 1.3rem;
    text-decoration: underline;
}
.plant_shop_big{
    font-size: 3rem;
}
.plant_shop_button_big{
    font-size: 2rem;
    text-decoration: underline;
}
.latest-deals_left{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 420px;
}
.latest-deals_right{
    width: 70%;
}
.left_top{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.593), rgba(0, 0, 0, 0.402)), url(../assets/deal-bloom.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    text-align: center;
    align-content: center;
    color: white;
}
.left_bottom{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.593), rgba(0, 0, 0, 0.402)), url(../assets/deal-ana.png);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 22px;
    text-align: center;
    align-content: center;
    color: white;
}
.latest-deals_right{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.593), rgba(0, 0, 0, 0.402)), url(../assets/deal-zabo.png);
    border-radius: 22px;
    text-align: center;
    align-content: center;
    color: white;
}

/* Newsletter Subscribe Section */
.newsletter_subscription{
    background-image: url(../assets/news-letter-bg.png);
   background-repeat: no-repeat;
   background-size: cover;
   height: 530px;
   display: block;
   justify-items: center;
   align-content: center;
}
.colorful-bunch{
    color: white;
    font-size: 3.125rem;
    margin-bottom: 23px;
}
#email-box{
    width: 640px;
    height: 50px;
    padding-left: 20px;
    padding-right: 15px;
    font-size: 1.3rem;
    border: none;   
}
#email-box:focus{
    outline: none;
}
#subscribe-button{
    width: 185px;
    height: 50px;
    padding: 0px 20px;
    font-size: 1.3rem;
    background-color: #E95A08;
    color: white;
    border: none;
    position: relative;
    right: 10px;
}


/* Footer Section */
.footer-section{
    display: flex;
    justify-self: center;
    column-gap: 90px;
    width: 1140px;
    text-align: left;
    padding: 50px 0px;

}
.logo-text{
    width: 360px;
}
.footer-menu{
    list-style: none;
}
.footer-menu li{
    margin-bottom: 20px;
}
.footer-quicklink{
    list-style: none;
}
.footer-quicklink li{
    margin-bottom: 20px;
}
.social-logo{
    display: flex;
    justify-content: center;
   
}
.social-logo img{
    margin-right: 20px;
}

.logo-text img{
    margin-bottom: 20px;
}
.logo-text h4{
    font-size: 1.125rem;
    font-weight: 400;
}




/* Mobile Responsive 576px */
@media screen and (max-width: 576px) {
    html{
        font-size: 12px;
    }
    .navbar{
        margin: 13px 16px 0;
    }
    .nav-menu{
        display: none;
    }
    .hero_section{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero_right{
        margin-bottom: 20px;
    }
    .fresh_flower{
        margin-bottom: 10px;
    }
    .all_products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 20px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .add-to-cart{
        padding: 20px 30px;
    }
    .trusted-badge{
        display: none;
    }
    .hide{
        display: none;
    }
    .flower_planks_title{
        font-size: 2.8rem;
    }
    .flower-store{
        position:relative;
        top: auto;
        margin-top: 20px;
    }
    .flower_plants_section{
        display: flex;
        flex-direction: column;
    }
    .flower_plants_section_right{
        width: 90%;
        margin-top: 20px;
    }
    .three-box{
        display: flex;
        flex-direction: column;
    }
    
    .left_top, .left_bottom, .latest-deals_right{
        width: 100%;
        height: 195px;
    }
    .latest-deals_left{
        width: 100%;
    }

    #email-box{
        width: 45%;
    }
    #subscribe-button{
        width: 25%;
        
    }
    .newsletter_subscription{
        display: block;
        justify-self: center;
        align-content: center;
        width: 100%;
        height: 275px;
    }
    .email-subscribe{
        width: 100%;
       text-align: center;
    }
    .colorful-bunch{
        font-size: 1.2rem;
    }

    .footer-section{
        display: flex;
        flex-direction: column;
        justify-self: left;
        column-gap: 0;
        width: 90%;
        padding: 20px;
        text-align: left;
    }
    .social-logo{
        display: flex;
        justify-content: left;

}
}