*{
    margin: 0;
    padding: 0;
}

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body{
    background-color: #F5F8FF
}

/* Shared CSS */
.navbar,
.nav-menu-bar, 
.nav-menu,
.cart,
.hero_section{
    display: flex;
}

.navbar,
.hero_section,
.product_section{
    margin: 30px 150px;
}

.navbar,
.hero_section,
.product_section,
.flower_plants_section{
    max-width: 1140px;
}
/* Colors */
.orange-color{
    color: #E95A08;
} 
.gray-color{
    color: #8987A1;
}

/* Nav Bar */
.navbar{
    width: 90vw;
    justify-self: center;  
}
.navbar, .cart{
    justify-content: space-between;
    align-items: center;
}
.nav-menu-bar,
.nav-menu{
    justify-content: space-between;
    column-gap: 30px;
}

.nav-menu, .cart{
    list-style: none;
}

.cart{
    column-gap: 10px;
}

.home{
    font-weight: 700;
}

/* Hero Section */
.hero_section{
    align-items: end;
    width: 90vw;
    justify-self: center;
    margin-top: 120px;
}

.fresh_flower{
    font-size: 4rem;
}
.fresh_flower_description{
    font-size: 1.4rem;
    color: #8987A1;
    font-weight: normal;
}
.hero-flower{
    position: relative;
    bottom: -4px;
    width: 100%;
}
.hero_left{
    width: 100%;
}
.hero_right{
    width: 100%;
}

/* Product Section */
.product_section{
    align-items: end;
    width: 90vw;
    justify-self: center;
    margin-left: 0;
    margin-right: 0;
}
.product_section_content, .product_details{
    text-align: center;
}
.our_plants{
    font-size: 3.125rem;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 16px;
}
.our_plants_description{
    font-size: 1.37rem;
    font-weight: 400;
    margin-bottom: 50px;
}
.product_details_title{
    font-size: 1.37rem;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 20px;
}
.product_details_price{
    font-size: 1.37rem;
    font-weight: 700;
    margin-bottom: 30px;
}
.add-to-cart{
    font-size: 1rem;
    font-weight: 600;
    padding: 19px 60px;
    background-color: #E95A08;
    color: white;
    border: none;
    width: 100%;
}
.all_products{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 30px;

}
.product_img{
    width: 100%;
}


/* Flower & Plants Lover Section */
.flower_plants_section{
    display: flex;
    width: 90vw;
    justify-self: center;
    align-items: center;
    margin-bottom: 80px;
    margin-left: 0;
    margin-right: 0;
    column-gap: 80px;
    
}

.flower_planks_title{
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 20px;
}
.flower_planks_description{
    font-size: 1.35rem;
    font-weight: 400;
    margin-bottom: 20px;
}
.flower-store{
    width: 100%;
}
.flower_plants_section_right{
    width: 60%;
}
.flower-store{
    width: 100%;
    max-width: 440px;
    max-height: 500px;
    position: relative;
    top: -90px;
    z-index: 1;
}
 .trusted-badge{
    width: 200px;
    position: relative;
    top: 0px;
    left: 320px;
    z-index: 3;
 }


/* Mobile Responsive 576px */
@media screen and (max-width: 576px) {
    html{
        font-size: 12px;
    }
    .navbar{
        margin: 13px 16px 0;
    }
    .nav-menu{
        display: none;
    }
    .hero_section{
        display: flex;
        flex-direction: column-reverse;
    }

    .hero_right{
        margin-bottom: 20px;
    }
    .fresh_flower{
        margin-bottom: 10px;
    }
    .all_products{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: 20px;
        padding-left: 17px;
        padding-right: 17px;
    }
    .add-to-cart{
        padding: 20px 30px;
    }
    .trusted-badge{
        display: none;
    }
    .flower-store{
        position:relative;
        top: auto;
        margin-top: 20px;
    }
    .flower_plants_section{
        display: flex;
        flex-direction: column;
    }
    .flower_plants_section_right{
    width: 90%;
    margin-top: 20px;
}

}